.carta-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-top {
    height: 300px;
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carta-descripcio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carta-descripcio h1 {
    font-weight: bold;
}

.carta-descripcio span{
    width: 70%;
}

.carta-productes {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-productes a {
    display: block; 
    text-decoration: none;
}

.col-sm-4 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.producte {
    height: 330px;
    max-width: 270px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.5s;
    border: 1px solid transparent;
}

.producte:hover {
    border: 1px solid black; 
}

.producte-imatge {
    width: 230px;
    height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.producte h3 {
    color: #222222;
    font-weight: bold;
}

.producte h3:hover {
    transition: 0.3s;
    color: #FDBE10;
}

.producte p {
    color: #222222;
    font-weight: bold;
}