.carrusel-container {
    height: 84vh;
    background-color: chocolate;
}

#carouselExampleAutoplaying {
    height: 100%;
}
.carousel-inner {
    max-height: 84vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-section1 {
    min-height: 530px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.home-section1 div {
    position: relative; 
    min-width: 420px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-section1 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0) 40%); /* Color con opacidad ajustable */
    z-index: 1; 
}

.home-section1 div > * {
    position: relative;
    z-index: 2;
}

.home-section-links{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.home-section-links h3 {
    font-weight: bold;
}

.home-buttons {
    min-height: 43px;
    max-width: 110px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    color: white;
}

.home-buttons:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}


.home-section2 {
    min-height: 530px;
    display: flex;
    justify-content: space-evenly;
}

.home-section2 div {
    min-width: 540px;
    min-height: 370px;
    max-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.home-section2 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0) 40%); /* Color con opacidad ajustable */
    z-index: 1; 
}

.home-section2 div > * {
    position: relative;
    z-index: 2;
}


.home-section3-novetats {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.home-section3-novetats h2{
    font-weight: bold;
    color: black;
}

.novetats-div {
    width: 90vw;
    height: 500px;
    border-bottom: 2px solid black;
    display: flex;
    overflow-x: auto;
    overflow-y: none; 
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    

    -webkit-overflow-scrolling: touch; 
}
  

.novetats-div::-webkit-scrollbar {
    display: none;
}


.novetats-div {
    scrollbar-width: none;
}


.novetats-div a {
    display: block; 
    text-decoration: none;
}

.novetat {
    height: 330px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.5s;
    border: 1px solid transparent; 
}

.novetat:hover {
    border: 1px solid black; 
}

.novetat-imatge {
    width: 230px;
    height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.novetat h3 {
    color: black;
    font-weight: bold;
}

.novetat h3:hover {
    transition: 0.3s;
    color: #FDBE10;
}

.novetat p {
    color: #222222;
    font-weight: bold;
}

/* IMATGES */

#home-section1-menjarsPreparats {
    background-image: url(../imatges/productes/menjars/menjars-preparats/truita-patates.webp);
}

#home-section1-begudes {
    background-image: url(../imatges/productes/begudes/vins/vaso-vino-uvas-barriles-madera-frescos_1268-27965.webp);
}

#home-section1-postres {
    background-image: url(../imatges/productes/postres/postres-normals/crema-catalana.webp);
}

#home-section1-menjarsDeshidratats {
    background-image: url(../imatges/productes/menjars/menjars-deshidratats/deshidratat-vega.webp);
}

#home-section1-cerveses {
    background-image: url(../imatges/productes/begudes/cerveses/cervesa-san-miguel.webp);
}