@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'RobotoCondensed';
}

/* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 3px; /* Establece el ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Color negro para la parte que se mueve */
    border-radius: 10px; /* Esquinas redondeadas */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del track (la parte fija) */
}

