@font-face {
    font-family: 'RobotoCondensed';
    src: url('views/styles/Roboto_Condensed/static/RobotoCondensed-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('views/styles/Roboto_Condensed/static/RobotoCondensed-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'RobotoCondensed';
}